.manage-listings {
  padding: 20px;
}

.car-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.car-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.car-card h4 {
  font-size: 18px;
  margin: 10px 0;
}

.car-card p {
  margin: 5px 0;
}

.car-price {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.car-price .eth-icon {
  width: 16px;
  height: 16px;
}

/* Button styles based on status */
.status-btn {
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-available {
  background-color: #4caf50; /* Green */
}

.btn-sold {
  background-color: #f44336; /* Red */
}

.btn-cancelled {
  background-color: #ffc107; /* Yellow */
}

.btn-shipped {
  background-color: #9c27b0; /* Purple */
}

.car-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.transaction-info {
  margin-top: 10px;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}

.process-shipping-btn {
  padding: 10px;
  background-color: #487193;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.cancel-transaction-btn {
  padding: 10px;
  background-color: #FF9800;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tracking-info {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.car-card {
  margin-bottom: 20px;
}

.purchase-info {
  font-size: 15px;
  font-weight: bold;
  color: navy;
}
