header {
  background-color: #EAEBF1; /* Header background color */
  padding: 10px 20px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

header nav ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    /* background-color: #4A90E2; */
    padding: 10px 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    color: rgb(27, 27, 39);
}
